.navbar{
    width: 100%;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    position:fixed ;
    font-size: 14px;
    color:#e5e5e5;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.7) 10%, black);
    z-index: 1;
}
.navbar-left{
    display: flex;
    align-items: center;
    gap:50px;
}
.navbar-left img{
    width: 100px;
}
.navbar-left ul{
    display:flex;
    list-style:none;
    gap:20px;
    list-style-type: none;
}
.navbar-left a {
    text-decoration: none; 
    color: white; 
  }
  .navbar-left a:hover{
    color: #9CDAFA; 
  }
  
  .navbar-left ul li:hover {
    color: #9CDAFA; 
  }
.navbar-left ul li{
    cursor: pointer;
    transition: color 0.3s; 
}
.navbar-right{
    display: flex;
    gap: 20px;
    align-items: center;
}
.navbar-right .icons{
    width: 18px;
    cursor:pointer;
}
.navbar-right .profile{
    border-radius: 4px;
    width: 35px;
}

.navbar-right ul{
    display:flex;
    list-style:none;
    gap:20px;
    list-style-type: none;
}
.navbar-right a {
    text-decoration: none; 
    color: white; 
  }
  .navbar-right a:hover{
    color: #9CDAFA; 
  }
  
  .navbar-right ul li:hover {
    color: #9CDAFA; 
  }
.navbar-right ul li{
    cursor: pointer;
    transition: color 0.3s; 
}
.navbar-profile{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    position: relative;
}
.navbar .dropdown{
    position: absolute;
    top:100%;
    right: 0;
    width:max-content;
    background: #191919;
    padding: 18px;
    border-radius: 2px;
    text-decoration: underline;
    z-index: 1;
    display: none;
}
.navbar .dropdown p{
    font-size: 13px;
    cursor: pointer;
}
.navbar-profile:hover .dropdown{
    display: block;
}

